@import "../../../css/color-scheme.css";

html{
    height: 100%;
}
body{
    height: 100%;
}

div{
    flex-grow: 1;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.header{
    background-color: var(--color-two);
}

.footer-temp{
    background-color: var(--color-two);
}

.customer{
    display: flex;
    flex-direction: row;
    flex-grow: 8;
}

.menu-wrapper{
    display: flex;
    flex-direction: row;
}

.categories{
    flex-direction: column;
    background-color: var(--color-three);
}

.category{
    height: 10%;
    background-color: var(--color-three);
    border: 6px solid var(--color-four);
    border-bottom: 0;
    border-right: 0;
}

.category:last-child{
    border: 6px solid var(--color-four);
    border-right: 0;
}
.menu{
    flex-grow: 3;
    background-color: var(--color-four);
}

.cart{
    background-color: var(--color-three);
}

.section-header{
    margin: 0;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.remove-item-from-cart {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.remove-item-from-cart:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 10px auto 10px auto;
    font-size: 1.75em;
}

.shop-item {
    display: flex;
    flex-direction: row;
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}