/*

File table_info.css

Author: Anton Augustsson

syle spesific for the table_info page
*/

/* color scheme for the intire prodject*/
@import "../../css/color-scheme.css";

/*
General syle for the page
*/

.menu{
  background-color: var(--color-three);
  margin: 10px;
  padding: 9px;
  border: 6px solid var(--color-four);
}

.tables{
  background-color: var(--color-three);
  margin: 10px;
  top: 2px;
  padding: 30px;
  border: 6px solid var(--color-four);
}

.table{
  background-color: var(--color-three);
  padding: 20px;
  border: 3px solid var(--color-four);
  opacity: 1;
}

/*
Dropdown desplays table content when hovering over a table div
*/

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.table:hover .dropdown{
  display: block;
}

/*
END of file header-footer.css
*/
