:root {
    --color-one:#290001;
    --color-two:#87431d;
    --color-three:#C87941;
    --color-four:#dbcbbd;
    --color-btn:#dbcbbd;
    --color-btn-hover:#87431d;
    --color-btn-txt:#290001;
    --border-size:3px;
} 

html{
  background-color: var(--color-one);
  position: fixed;
  bottom: 0;
}


button{
  background-color: var(--color-btn); 
  border: none;
  color: var(--color-btn-txt);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: var(--color-btn-hover); 
}
