/*

File header-footer.css

Author: Anton Augustsson

general syle for all pages. Both for the itire html and body but also for buttons

*/

:root{
    --header-size: 55px;
    --content-top: 75px;
}

/*
Main style.
 */
#content{
  position: absolute;
  background-color: var(--color-one);
  width: 100%;
  height: 100%;
  top: var(--content-top);
  right: 0;
}

button, .login-btn{
  background-color: var(--color-btn);
  color: var(--color-btn-txt);
  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: var(--color-btn-hover);
}

/*
Header css
*/

#header {
  position: absolute;
  width: 100%;
  height: var(--header-size);
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background: var(--color-two);
  z-index: 2;
}

#header-content{
    width: 100%;
}

#title{
  position: absolute;
  color: var(--color-four);
  left: 40px;
  top: 20px;
  font-size: x-large;
  font-weight: bolder;
}

#header-buttons{
  position: absolute;
  width: 30vw;
  right: 100px;
  top: 20px;
}

/* Language menu */
.lang{
  position: absolute;
  top: 0;
  right: 30px;
  z-index:3;
  color: var(--color-four);
}

.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    rigth: 20px;
    position: relative;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: var(--color-four);
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 32px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.se:before {
    background-image: url(https://www.countryflags.io/se/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.lang-menu:hover ul {
    display: block;
}

/*
END of file header-footer.css
*/
